<<<<<<< HEAD
* {
  font-family: system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-section h1 {
  font-family:  'Roboto', sans-serif;
}

#priceSection {
  background-color: #fff;
}

.pricingHeader,
.parkingSpots {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#navBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.bg-nav {

  background-color: #182735;
  color: #fff;
  
}


.chart-element {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.chart-element h3 {
margin-bottom: 1rem;
}

.chart-element .progress {
height: 2rem;
border-radius: 25px;
}

.chart-element .progress-bar {
border-radius: 25px;
background-color: green;
}

#firstProgress {
  background-color: green;
}

#secondProgress {
  background-color: red;
}
.hero-section {
    background-image: url("background.jpg");
    background: rgba(0, 0, 0, .65) url('background.jpg');
    background-blend-mode: darken;   
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-section h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }

  .hero-section p {
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
  }

  .hero-section .btn {
    font-size: 18px;
  }

  .hero-section .container h2,
  .hero-section .container p {
    color: white;
    text-align: left;
  }
  .hero-section .container h1 {
    margin-bottom: 100px !important ; 
  }


  .spots-container {
    height: 50%;
  }

  .spots-container {
    font-size: x-large;
    margin-top: 15%;
  }

  .spots-container h2 {
    margin-bottom: 10%;
  }

  .spots-container .complain-button {
    margin-top: 5%;
  }

  .subscribe-section {
    background-image: url("Subscribe.jpg");
    background: rgba(0, 0, 0, .65) url('Subscribe.jpg');
    background-blend-mode: darken;   
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .subscribe-section .content {
    color: #fff;
  }
  
  .subscribe-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-right: 6rem; /* Adjust the margin as needed */
  }
  
  .subscribe-section p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    margin-right: 3rem; /* Adjust the margin as needed */
  }

  .subscribe-section .row {
    justify-content: flex-start;
  }
  
  .subscribe-section .content {
    text-align: left;
  }
  
  .subscribe-section .subscribe-button {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2rem; /* Adjust the margin as needed */
  }

  .subscribe-section .content {
    margin-left: -6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .subscribe-section .subscribe-button{
    margin-right: -6rem;
  }
  .subscribe-section {
    margin-top: 2rem;
  }

  .orange-btn{
    background: #F77D24;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Sans-serif;
    font-size: 18px;
    padding-left: 15px;
  }
  .orange-btn  i{
      display:inline-block;
      border-left: 1px solid rgba(255,255,255,0.35);
      padding: 15px;
      margin-left: 15px;
    }
  
    .category-section {
      margin-top: 7rem;
=======
* {
  font-family: system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-section h1 {
  font-family:  'Roboto', sans-serif;
}

#priceSection {
  background-color: #fff;
}

.pricingHeader,
.parkingSpots {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#navBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.bg-nav {

  background-color: #182735;
  color: #fff;
  
}


.chart-element {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.chart-element h3 {
margin-bottom: 1rem;
}

.chart-element .progress {
height: 2rem;
border-radius: 25px;
}

.chart-element .progress-bar {
border-radius: 25px;
background-color: green;
}

#firstProgress {
  background-color: green;
}

#secondProgress {
  background-color: red;
}
.hero-section {
    background-image: url("background.jpg");
    background: rgba(0, 0, 0, .65) url('background.jpg');
    background-blend-mode: darken;   
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-section h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }

  .hero-section p {
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
  }

  .hero-section .btn {
    font-size: 18px;
  }

  .hero-section .container h2,
  .hero-section .container p {
    color: white;
    text-align: left;
  }
  .hero-section .container h1 {
    margin-bottom: 100px !important ; 
  }


  .spots-container {
    height: 50%;
  }

  .spots-container {
    font-size: x-large;
    margin-top: 15%;
  }

  .spots-container h2 {
    margin-bottom: 10%;
  }

  .spots-container .complain-button {
    margin-top: 5%;
  }

  .subscribe-section {
    background-image: url("Subscribe.jpg");
    background: rgba(0, 0, 0, .65) url('Subscribe.jpg');
    background-blend-mode: darken;   
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .subscribe-section .content {
    color: #fff;
  }
  
  .subscribe-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-right: 6rem; /* Adjust the margin as needed */
  }
  
  .subscribe-section p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    margin-right: 3rem; /* Adjust the margin as needed */
  }

  .subscribe-section .row {
    justify-content: flex-start;
  }
  
  .subscribe-section .content {
    text-align: left;
  }
  
  .subscribe-section .subscribe-button {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2rem; /* Adjust the margin as needed */
  }

  .subscribe-section .content {
    margin-left: -6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .subscribe-section .subscribe-button{
    margin-right: -6rem;
  }
  .subscribe-section {
    margin-top: 2rem;
  }

  .orange-btn{
    background: #F77D24;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Sans-serif;
    font-size: 18px;
    padding-left: 15px;
  }
  .orange-btn  i{
      display:inline-block;
      border-left: 1px solid rgba(255,255,255,0.35);
      padding: 15px;
      margin-left: 15px;
    }
  
    .category-section {
      margin-top: 7rem;
>>>>>>> 39a9c76825486bd92e650e6837992fb399b01e64
    }